/MinerViewer/ClientApp/.angular/
/Minerview.Identity/obj/
/.vs/MinerViewer/DesignTimeBuild/.dtbcache.v2
/.vs/MinerViewer/FileContentIndex/425cdbbc-a55e-4e63-9056-3c18b6b9b64c.vsidx
/.vs/MinerViewer/FileContentIndex/5e6500d8-ffd2-4340-bbf2-77af09708555.vsidx
/.vs/MinerViewer/FileContentIndex/690cad2a-eb79-4d13-89b4-8a5df8c59679.vsidx
/.vs/MinerViewer/FileContentIndex/d57fff6c-b1b9-4673-80cb-87ad97c88654.vsidx
/.vs/MinerViewer/FileContentIndex/read.lock
/.vs/MinerViewer/v17/.futdcache.v1
/.vs/MinerViewer/v17/.suo
/.vs/ProjectEvaluation/minerviewer.metadata.v2
/.vs/ProjectEvaluation/minerviewer.projects.v2
/Data/bin/Debug/net6.0/Data.deps.json
/Data/bin/Debug/net6.0/Data.dll
/Data/bin/Debug/net6.0/Data.pdb
/Data/obj/
/Minerview.Identity/bin/
/.vs/MinerViewer/FileContentIndex/
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/MinerViewer/v17/.suo
/.vs/MinerViewer/v17/.suo
/.vs/MinerViewer/v17/.suo
/MinerViewer/ClientApp/package-lock.json
/.vs/MinerViewer/v17/fileList.bin
/.vs/MinerViewer/v17/.suo
/.vs/MinerViewer/v17/
